html {
    font-size: 14px;
    background-color: hsl(30, 38%, 92%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem; /* 14px */
    font-family: 'Montserrat', sans-serif;
}

.item {
    margin: 10svh 5svw;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .5em;
    background-color: hsl(0, 0%, 100%);
}

.item-image {
    width: 100%;
    height: 35svh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5em .5em  0 0;
}

.item-text {
    padding: 0 1.5em;
}

.item-text p {
    color: hsl(228, 12%, 48%);
    padding: 1rem 0;
}

.item-text > p:first-child {
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-size: .9rem;
    font-weight: 500;

}

.item-text h2 {
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    font-size: 2.2rem;
    line-height: 2rem;
}

.item-text-price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.2em;
    padding-bottom: 1rem;
}

.item-text-price p:first-child {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    padding: 0;


}

.item-text-price p:last-child {
    text-decoration: line-through;
    font-weight: 500;
    font-size: .9rem;
    padding: 0;
}

.item-button {
    background-color: hsl(158, 36%, 37%);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem 1.5rem 1.5rem;
    border-radius: .6em;
    font-weight: 700;
    gap: .9em
}

a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}





