/* static font back-up*/
@font-face {
    font-family: 'Inter Static';
    src: url('/assets/fonts/static/Inter-Regular.ttf') format('ttf'),
    url('/assets/fonts/static/Inter-Bold.ttf') format('ttf'),
    url('/assets/fonts/static/Inter-ExtraBold.ttf') format('ttf'),
    url('/assets/fonts/static/Inter-VariableFont_slnt,wght.ttf') format('ttf')
}

html {
    font-size: 15px;
    font-weight: 400;
    color: hsl(0, 0%, 8%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Inter', "Inter Static", sans-serif;
}

a {
    color: inherit;
}

input, button {
    font-family: 'Inter', sans-serif;
}

button {
    border: 0;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
    color: hsl(240, 100%, 5%);
    line-height: 1em;
}

h3 {
    font-size: 1.35rem;
}

p {
    line-height: 1.7em;
}

nav {
    display: none;
}

nav > ul {
    display: flex;
    flex-direction: column;
}

.page-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 2em 1em 1em 1em;
}

.logo-wrapper img {
    width: 100%;
    max-height: 2em;
}


.hamburger-menu-icon {
    width: 3em;
}

.hamburger-menu-icon img {
    width: 100%;
}

.index-main {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 5em;
}

.featured-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
}

.featured-content img {
    width: 100%;
    max-height: 20em;
    padding-bottom: 1em;
    object-fit: cover;
}

.read-more-button {
    color: hsl(36, 100%, 99%);
    background-color: hsl(5, 85%, 63%);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding: 1.2em 3em;
}

.new-content {
    background-color: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2em;
    padding: 1.5em 1.5em 2em 1.5em;
}

.new-content section:not(:last-child):after {
content: "";
    display: block;
    margin-top: 2em;
    width: 100%;
    height: 0.1em;
    background-color: hsl(233, 8%, 79%);
}


.new-content h2 {
    color: hsl(35, 77%, 62%);
    font-size: 2.3rem;
    font-weight: 80
}

.new-content h3 {
    padding-bottom: .5em;
}

.populer-content > ol {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2em;
}

.populer-content li {
    display: flex;
    flex-direction: row;
    gap: 1.2em;
}
.populer-content-image-wrapper img {
    max-width: 20rem;
    max-height: 10rem;
}

.populer-content-text-wrapper h3 {
    font-size: 1.2rem;
    font-weight: 800;
    padding-bottom: 0.5em;
    padding-top: 0.8em;
}

.populer-content-text-wrapper span {
    color: hsl(233, 8%, 79%);
    font-size: 2.5rem;
    font-weight: 700;
}



